@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	background: #f3f3f3;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	background: url(../img/bgtop.jpg) no-repeat center top / cover;
	padding-bottom: 195px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 0 auto;
}

nav {
	float: right;
	margin-top: 40px;
}

.logo {
   position: relative;
}

.logo img {
	max-width: 90px; 
	position: absolute;
	right: 47%;
	top: 20px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 30px;
	margin-top: 10px;
}

.menu li a {
	color: #0d3351;
	text-decoration: none;
	font-size: 14px;
}

.support {
	display: block;
	float: right;
	color: #0d3351;
}


.number {
	font-weight: 600;
}

.polygon {
	padding-bottom: 3px;
}

.title__first {
	font-size: 36px;
	color: #0d3351;
	text-align: center;
	margin-top: 125px;
}

h1{ font-family: 'Roboto Slab', serif;
	font-size: 100px;
	color: #0d3351;
	text-align: center;
	margin: 15px;
	text-transform: uppercase;
	font-weight: 400;
}

.button{
	background: #33c7fd;
	color: #fff;
	display: block;
	width: 200px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	margin-top: 30px;
}

.button:hover {
	background: #13b0e9;
}

.button:active {
	background: #64d6ff;
}

.snake{
	position: relative;
}

.snake img{
	position: absolute;
	max-height: 270px;
	right: 48%;
	top: 20px;
}

/*Основной контент*/

.title h2{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	text-align: center;
	color: #0d3351;
	margin-top: 100px;
	font-weight: 400;
	margin-bottom: 10px; 
}

.title p {
	color: #0d3351;
	text-align: center;
	font-size: 14px;
    margin-bottom: 50px;
}

.tour{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px 400px;
	grid-column-gap: 30px;
	grid-row-gap: 20px; 
}

.tour div {
	font-size: 18px;
}

.tour div:nth-child(1) {
	grid-row-start: 1;
	grid-row-end: 3;
}

.tour1 {
	background: url(../img/Anapa.jpg) no-repeat center top;
	background-color: #fff;
}

.tour2 {
	background: url(../img/yacht.jpg) no-repeat center top;
	background-color: #fff;
}

.tour3 {
	background: url(../img/Gelend.jpg) no-repeat center top;
	background-color: #fff;
}

.tour4 {
	background: url(../img/novoros.jpg) no-repeat center top;
	background-color: #fff;
}

.tour5 {
	background: url(../img/abray.jpg) no-repeat center top;
	background-color: #fff;
}

.label {
	position: absolute;
    margin-left: 415px;
    top: 895px;
}

.label3 {
	position: absolute;
    margin-left: 415px;
    top: 1218px;  
}

.tour_description1{	
	margin-top: 460px;	
    margin-left: 40px;
}

.tour_description23{	
	margin-top: 140px;
	margin-left: 40px;
}

.tour_description45{	
	margin-top: 240px;
	margin-left: 40px;
}

.tour h4 {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #00a2dd;
	font-weight: 400;
    margin-bottom: 0px;
}

.tour p {
	font-size: 14px; 
	color: #0d3351;
	line-height: 20px;
}

.price {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: #0d3351;
}

.price_cancellation {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #7a8f9f;
    margin-left: 40px;
	text-decoration: line-through;
}

.button img {
	margin-left: 10px;
}

/*footer*/

footer {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 130px;
	background: #fff;
	display: block;
	margin-top: 40px;
	color: #0d3351;
}

.about {
	padding: 0;
	margin: 0;
	display: block;
}

.about a {
	color: #0d3351;
	text-decoration: none;
	font-size: 14px;
}

.about_company {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
} 

.about_company div {
	padding-top: 25px;
	font-size: 18px;
}

.icon {
	padding-right: 10px;
}

.icon img {
	margin-top: 10px;
}

.support_footer{
	font-weight: 550;
}

.connection {
	
}

.info p {
	margin: 0;
}

.support_all{
	font-size: 11px;
}

.support_city{
	font-size: 14px;
}


/* Медиа */

@media screen and (max-width: 1146px) {
	.header {
	background: url(../img/bg_tablet.jpg) no-repeat center top / cover;
	padding-bottom: 195px;
	width: 100%;
	
}

	.about_company{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	}
}



